@import url(https://fonts.googleapis.com/css?family=Roboto:300);
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-image: linear-gradient(to bottom, #005D04 , rgb(66, 66, 66));
    box-shadow: 0px 0px 10px rgba(3, 1, 1, 2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    height: 80px;
}
body{
    background: #FFF5F3;
}
footer{
    background-color: #005D04;
    width: 100%;
    height: 70px;           
}  
.logo-img{
    width: 11vh;
}
.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
  }
.navigation a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #242522;
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform-origin:right ;
    transform: scaleX(0);
    transition: transform .8s;
}
.navigation a:hover::after{
    transform-origin:left;
    transform: scaleX(1);
}
  
:root {
    --overstack: #03751f;
    --overstack-light-hover: #53eb2e;
    --color-gradient: linear-gradient(
      155.34deg,
      var(--overstack) 30.41%,
      var(--overstack-light-hover) 100%
    );
  }
  
.content{
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.envio{
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  margin-left: 285px;
}
.logo {
    width: 120px;
  }

.regs input{
    width: 350px;
    height: 20%;
    border: 1px solid black;
    
    font-size: 1em;
}
.regs textarea{
    width: 350px;
    height: 40%;
}

.regs input:focus {
    outline: 0;
 }

.regs{
    width: 600px;
    border: 1px solid black;
}

.buttonRegs {
    width: 90px;
    height: 40px;
    background: var(--color-gradient);
    font-size: 18px;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    color: white;
  }
  
.buttonRegs:hover {
    filter: brightness(0.9);
  }